{% extends 'layout.html' %}

{% block title %}Detalles del Actor{% endblock %}

{% block content %}
    <div class="container mt-5">
        <!-- Título de la película -->
        <h1>{{ actor.actor_name }}</h1>
        <ul class="list-group">
            <!-- Detalles del actor -->
            <li class="list-group-item">
                <strong>Nombre:</strong> {{ actor.actor_name }}<br>
                <strong>Fecha de nacimiento:</strong> {{ actor.release_date }}<br>
                <strong>Película más famosa:</strong> {{ actor.movie_title }}<br>
                <strong>Enlace a IMDb:</strong> <a href="https://www.imdb.com/name/{{ actor.const }}" target="_blank">Ver en IMDb</a><br>
            </li>
        </ul>          
        <a href="{{ url_for('actors') }}" class="btn btn-info mt-3">Volver a la lista de actores</a>
    </div>
{% endblock %}