{% extends 'layout.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
            <div class="carrusel">
                <div class="informacion">
                    <div>
                        <img id="foto" src="../static/images/perfil.jpeg"  onclick="cambioImagen()" class="perfil" draggable="false">
                    </div>
                    <br>
                        <h5>Información Personal:</h5>
                            <p>Nombre completo: Jose Luis Llanos Montes</p>
                            <p>Fecha Nacimiento: 11/12/1990</p>
                        <h5>Información de Contacto:</h5>
                            <p>Teléfono: +34 914 12 12 12</p>
                            <p>Correo: micorreo@gmail.com</p>
                    <div>
                        <h5>Insignias</h5>
                        <div class="insignias">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_210749-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_210804-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_210829-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_210847-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_210908-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_210927-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_210949-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_211022-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_211040-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_211358-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_211428-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_211447-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_211504-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_213125-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_213134-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_213142-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_213150-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_213219-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_213329-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_213338-removebg-preview.png">
                            <img src="../static/images/Captura_de_pantalla_2025-05-16_213348-removebg-preview.png">

                        </div>
                    </div>
                </div>
            </div>
{% endblock %}